@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
}
.container{

}

.container{
    padding: 0 50px;
    
}
.wrapper{
    padding: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}